@model IEnumerable<Biblioteca.Models.Autor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="border-collapse: collapse; border: 1px solid #dee2e6;">
    <thead>
        <tr>
            <th style="border: 1px solid #dee2e6; padding: 8px;">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th style="border: 1px solid #dee2e6; padding: 8px;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="border: 1px solid #dee2e6; padding: 8px;">
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td style="border: 1px solid #dee2e6; padding: 8px;">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
